body {
width: 100%;
height: 100%;
}

#container2 {
    position:absolute;
    top: 5%;
}

#answer {
    position: absolute;
    top: 10%;
}
#results_Number {
    position: absolute;
    top: 0%;
    left: 120%;
}
